<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>localUrl</key>
	<string>http://wdesame.test/api/</string>
	<key>localUrl2</key>
	<string>http://206.189.232.86/api/</string>
</dict>
</plist>
